html body{
  background-color: #cae9fc;
  font-family: Helvetica;
}

h1{
color: #7C8700;
margin-left: 3%;
}
h2{
color: black;
margin-left: 2%;
}
h3{
color: #1a164c;
margin-left: 2%;
}
h4{
color: #7c4ae8;
margin-left: 2%;
}
.numberIn{
  width: 70px;
}

.xInputButton{
  float: left;
}
#xButtons{
  float: left;
  margin-right:15px;
}
.yInputButton{
  float: left;
}
#yButtons{
  float: left;
}
#operatorButtons{
  float: left;
  margin-right:16px;
}
